<div class="grid grid-cols-2 h-screen">
    <div class="bg-blue-600 flex flex-col gap-4 justify-center ps-28">
        <h1 class="text-blue-100 text-3xl font-bold">Todo Management</h1>
        <p class="max-w-md text-blue-300 text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias reiciendis ut dolorem maiores, facere
            saepe amet quam officiis minus, velit illum pariatur at iste commodi, labore dolore repellendus dicta
            suscipit.
        </p>
    </div>
    <div class="flex w-full justify-center items-center">
        <div class="w-1/2">
            <router-outlet />
        </div>
    </div>
</div>
