<div class="flex flex-col gap-2 p-6 bg-white rounded-lg shadow">
  <h5 class="text-xl font-bold text-gray-900">Login here</h5>
  <form
    action=""
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    autocomplete="off"
    novalidate
  >
    <div class="form-group" [formGroup]="loginForm">
      <tui-input
        tuiHintContent="Type 5 letters or more"
        formControlName="username"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldCustomContent]="
          loginForm.get('username')?.valid ? success : ''
        "
      >
        Email
      </tui-input>
      <ng-template #success>
        <tui-icon icon="@tui.check" class="success tui-space_left-3" />
      </ng-template>
    </div>
    <div class="form-group my-2">
      <tui-input formControlName="password" [tuiTextfieldCleaner]="true">
        Password
      </tui-input>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
